@{
    ViewData["Title"] = "Home Page";
}

@section css{

    <style>
        #app {
            margin-top: 30px;
            padding-bottom: 30px;
        }

        .cellContent {
            border: 1px solid rgb(230,230,230);
            box-shadow: 0 0 3px rgb(200,200,200);
        }

            .cellContent img[type=title] {
                width: 16px;
                margin-right: 3px;
                vertical-align: middle;
                position: relative;
                top: -2px;
            }

        .cellTbContent {
            width: 100%;
            background-color: white;
            border-collapse: collapse;
        }

            .cellTbContent td {
                border-top: 1px solid rgb(220,220,220);
                padding: 12px 10px;
            }

        .cellTdTitle {
            color: rgb(90,115,142);
            font-size: 14px;
        }

        .cellTdContent {
            color: rgb(90,115,142);
            font-size: 13px;
        }

        .cellInput {
            border: none;
            border-bottom: 1px solid rgb(200,200,200);
            outline: none;
            width: 300px;
            font-size: 14px;
        }

        .cellSelect {
            width: 300px;
            outline: none;
            padding: 3px 5px;
            border: 1px solid rgb(200,200,200);
        }

        .cellInput:hover {
            border-bottom: 1px solid rgb(26,187,156);
            color: rgb(26,187,156);
        }

        .colTitle {
            color: rgb(90,115,142);
            font-size: 13px;
        }

        .colContent {
            color: rgb(80,80,80);
            font-size: 26px;
            font-weight: bold;
        }

        #dashBoard {
            border: 1px solid rgb(230,230,230);
            box-shadow: 0 0 3px rgb(200,200,200);
        }

            #dashBoard table {
                border-collapse: collapse;
                width: 100%;
            }

            #dashBoard td {
                width: 20%;
                text-align: center;
            }

        #globalInfo {
            margin-top: 20px;
        }

        .minCard {
            margin-top: 20px;
            margin-left: 20px;
            width: 348px;
            display: inline-block;
            overflow: hidden;
        }

        .editControl {
            float: right;
            vertical-align: middle;
            margin-top: 10px;
            margin-right: 3px;
        }

        button[outerText="EDIT"] {
            border: none;
            outline: none;
            background-color: transparent;
            color: rgb(100,100,100);
        }

        .editControl button:hover {
            cursor: pointer;
            text-decoration: underline;
        }
    </style>
}

@section js{
    <script src="~/lib/echarts/echarts.js"></script>
    <script>
        var chartDom = document.getElementById('requestDetail');
        var myChart = echarts.init(chartDom);
        var option = {
            title: {
                text: ''
            },
            tooltip: {
                trigger: 'axis',
                axisPointer: {
                    type: 'cross',
                    label: {
                        backgroundColor: '#6a7985'
                    }
                }
            },
            legend: {
                data: ['GET', 'POST', 'PUT', 'DELETE']
            },
            toolbox: {
                feature: {
                    saveAsImage: {}
                }
            },
            grid: {
                left: '3%',
                right: '4%',
                bottom: '3%',
                containLabel: true
            },
            xAxis: [
                {
                    type: 'category',
                    boundaryGap: false,
                    data: ['05/09', '05/10', '05/11', '05/11', '05/12', '05/13', '05/14']
                }
            ],
            yAxis: [
                {
                    type: 'value'
                }
            ],
            series: [
                {
                    name: 'GET',
                    type: 'line',
                    stack: 'total',
                    areaStyle: {},
                    emphasis: {
                        focus: 'series'
                    },
                    data: [220, 182, 191, 234, 290, 330, 310]
                },
                {
                    name: 'POST',
                    type: 'line',
                    stack: 'total',
                    areaStyle: {},
                    emphasis: {
                        focus: 'series'
                    },
                    data: [150, 232, 201, 154, 190, 330, 410]
                },
                {
                    name: 'PUT',
                    type: 'line',
                    stack: 'total',
                    areaStyle: {},
                    emphasis: {
                        focus: 'series'
                    },
                    data: [320, 332, 301, 334, 390, 330, 320]
                },
                {
                    name: 'DELETE',
                    type: 'line',
                    stack: 'total',
                    label: {
                        show: true,
                        position: 'top'
                    },
                    areaStyle: {},
                    emphasis: {
                        focus: 'series'
                    },
                    data: [820, 932, 901, 934, 1290, 1330, 1320]
                }
            ]
        };

        option && myChart.setOption(option);

    </script>
}

<div id="app">
    <div id="dashBoard" class="cellContent">
        <div class="cellTitle">
            <img src="~/imgs/Statistics.png" type="title" />
            <span>DASHBOARD</span>
            <div style="float:right">
                <span>Total Requests:</span>
                <span>233K+</span>
            </div>
        </div>
        <div style="background-color:white;padding:10px 15px;">
            <table>
                <tr>
                    <td class="colTitle">INSTANCES</td>
                    <td class="colTitle">SERVICES</td>
                    <td class="colTitle">ACCEPTED</td>
                    <td class="colTitle">HANDLED</td>
                    <td class="colTitle">FAILED</td>
                </tr>
                <tr>
                    <td class="colContent">1</td>
                    <td class="colContent">13</td>
                    <td class="colContent">1566</td>
                    <td class="colContent">1550</td>
                    <td class="colContent">6</td>
                </tr>
            </table>
        </div>
    </div>

    <div id="globalInfo" class="cellContent">
        <div class="cellTitle" style="display:inline-block;">
            <img src="~/imgs/info.png" type="title" />
            <span>GLOBAL INFO</span>
        </div>

        <div class="editControl">
            <button>EDIT</button>
            <button hidden="hidden">DONE</button>
        </div>
        <table class="cellTbContent">
            <tr>
                <td class="cellTdTitle">BaseUrl</td>
                <td>
                    <span class="cellTdContent" hidden="hidden"> http://gateway.insipid.top</span>
                    <input type="text" value="" id="baseUrl" class="cellInput cellTdContent" />
                </td>
            </tr>
            <tr>
                <td class="cellTdTitle">DownstreamScheme</td>
                <td>
                    <span class="cellTdContent" hidden="hidden">HTTP</span>
                    <input type="radio" name="downLoadStreamScheme" value="http" id="radioHTTP" /><label for="radioHTTP" class="cellTdContent">HTTP</label>
                    <input type="radio" name="downLoadStreamScheme" value="https" id="radioHTTPS" /><label for="radioHTTPS" class="cellTdContent">HTTPS</label>
                </td>
            </tr>
            <tr>
                <td class="cellTdTitle">DownstreamHttpVersion</td>
                <td>
                    <span class="cellTdContent" hidden="hidden">1.0</span>
                    <input type="radio" name="downLoadHttpVersion" value="1" id="radioHTTP1" /><label for="radioHTTP1" class="cellTdContent">1.0</label>
                    <input type="radio" name="downLoadHttpVersion" value="2" id="radioHTTP2" /><label for="radioHTTP2" class="cellTdContent">2.0</label>
                </td>
            </tr>

            <tr>
                <td class="cellTdTitle">DiscoveryProvider</td>
                <td>
                    <span class="cellTdContent" hidden="hidden">Ocelot</span>
                    <select class="cellSelect cellTdContent">
                        <option>Ocelot</option>
                        <option>Eureka</option>
                    </select>
                </td>
            </tr>
        </table>
    </div>

    <div class="cellContent minCard" style="margin-left:0">
        <div class="cellTitle">
            <img src="~/imgs/info.png" type="title" />
            <span>RATELIMIT OPTIONS</span>
        </div>
        <table class="cellTbContent">
            <tr>
                <td class="cellTdTitle">ClientIdHeader</td>
                <td class="cellTdContent">1321231231313</td>
            </tr>
            <tr>
                <td class="cellTdTitle">QuotaExceededMessage</td>
                <td class="cellTdContent">opss!</td>
            </tr>
            <tr>
                <td class="cellTdTitle">RateLimitCounterPrefix</td>
                <td class="cellTdContent">12</td>
            </tr>
            <tr>
                <td class="cellTdTitle">DisableRateLimitHeaders</td>
                <td class="cellTdContent">202105122252</td>
            </tr>
            <tr>
                <td class="cellTdTitle">HttpStatusCode</td>
                <td class="cellTdContent">429</td>
            </tr>
        </table>
    </div>

    <div class="cellContent minCard">
        <div class="cellTitle">
            <img src="~/imgs/info.png" type="title" />
            <span>DATABASE INFO</span>
        </div>
        <table class="cellTbContent">
            <tr>
                <td class="cellTdTitle">DBMS</td>
                <td class="cellTdContent">MySql</td>
            </tr>
            <tr>
                <td class="cellTdTitle">Host</td>
                <td class="cellTdContent">sql.insipid.top</td>
            </tr>
            <tr>
                <td class="cellTdTitle">Database</td>
                <td class="cellTdContent">CodeBus-APIGateway</td>
            </tr>
            <tr>
                <td class="cellTdTitle">User</td>
                <td class="cellTdContent">root</td>
            </tr>
            <tr>
                <td class="cellTdTitle">Port</td>
                <td class="cellTdContent">3306</td>
            </tr>
        </table>
    </div>

    <div class="cellContent minCard" style="vertical-align:top">
        <div class="cellTitle">
            <img src="~/imgs/info.png" type="title" />
            <span>QoSOPTIONS</span>
        </div>
        <table class="cellTbContent">
            <tr>
                <td class="cellTdTitle">ExceptionsAllowedBeforeBreaking</td>
                <td class="cellTdContent">10</td>
            </tr>
            <tr>
                <td class="cellTdTitle">DurationOfBreak</td>
                <td class="cellTdContent">10</td>
            </tr>
            <tr>
                <td class="cellTdTitle">TimeoutValue</td>
                <td class="cellTdContent">5</td>
            </tr>

        </table>
    </div>

    <div id="globalInfo" class="cellContent">
        <div class="cellTitle">
            <img src="~/imgs/calls.png" type="title" style="width:18px;" />
            <span>API CALLS</span>
        </div>
        <div id="requestDetail" style="width:100%; height:300px;border-top:1px solid rgb(220,220,220)"></div>
    </div>
</div>
